<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>

    <div style="width: 50%; margin:auto">

        <%- include('./composants/header') %>

        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis odit dolorum accusamus vero dolore suscipit et consequatur tempore saepe dolorem sed, expedita reiciendis iste distinctio sint, modi hic, voluptates nam!</p>
        </section>
    
    </div>
    
</body>
</html>